.labelWrapper {
    display: flex;
    justify-content: center;
};

.checkboxWrapper {
    border-radius: 1rem;
}

.iconWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 12px;
    margin-top:  12px;
}