.calendarWrapper{
    margin-top: auto;
    margin-bottom: auto;
    width: fit-content;
}
.calendarWrapper .react-calendar__navigation__label {
    font-weight: bolder;
    order: -2;
    color: black;
}

.calendarWrapper .react-calendar {
    border-radius: 8px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.calendarWrapper .react-calendar__navigation {
    border-radius: 13px 13px 0px 0px;
    background-color: #C8F3DC;

}

.calendarWrapper .react-calendar__navigation button:enabled:hover, .calendarWrapper .react-calendar__navigation button:enabled:focus {
    border-radius: 13px 13px 13px 0px;
}

.calendarWrapper .react-calendar__tile react-calendar__month-view__days__day react-calendar__month-view__days__day--weekend tileDay {
    border-radius: 50%;
    background-color: #66bb6a;
    padding-left: 10px;
    padding-right: 10px;
}

.calendarWrapper .react-calendar__tile:enabled:hover, .calendarWrapper .react-calendar__tile:enabled:focus {
    border-radius: 50%;
    background-color: #C8F3DC;
}

.calendarWrapper .react-calendar__month-view__days__day--weekend {
    color: black;
}

.calendarWrapper .abbr {
    text-decoration: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}

.calendarWrapper .react-calendar__month-view__weekdays abbr {

    opacity: 0.4;
    text-decoration: none;
    font-weight: lighter;
    color: #757575;
}

.calendarWrapper .react-calendar__month-view__weekdays .abbr {
    color: #61dafb;
}

.calendarWrapper .react-calendar__tile--hasActive {
    background: #C8F3DC;
    border-radius: 50% ;
}

.calendarWrapper .react-calendar__tile react-calendar__tile--now react-calendar__month-view__days__day {
    background-color: #ffffff;
}

.calendarWrapper .react-calendar__tile react-calendar__tile--active react-calendar__tile--range {
    background-color: green;
}

.calendarWrapper .react-daterange-picker__wrapper {
    border: none;
    padding-top: 10px;
    padding-bottom: 20px;
    box-sizing: content-box;
    display: flex;
    width: 480px;
}
.calendarWrapper .react-daterange-picker__clear-button__icon react-daterange-picker__button__icon {
    background-color: green;
}

.calendarWrapper .react-calendar__tile--active {
    background: #C8F3DC;

}

.calendarWrapper .react-daterange-picker__inputGroup {
    border: 1px solid #8F8F8F;
    justify-content: center;
    padding-left: 15px;
    border-radius: 6px;
    color: #A3A3A3;
    font-weight: 500;
    line-height: 130%;
}


.calendarWrapper .react-daterange-picker__range-divider {
    margin-left: 10px;
    margin-right: 10px;
}

.calendarWrapper .react-calendar__navigation__label__labelText react-calendar__navigation__label__labelText--from {
    margin-left: 10px;
}

.calendarWrapper .react-calendar__tile--now {
    background: none;
    color: red;
}

.calendarWrapper .react-calendar__navigation button[disabled] {
    background-color: #C8F3DC ;
    cursor: not-allowed;
}
.calendarWrapper .react-calendar__navigation button:enabled:focus {
    border-radius: 13px 13px 13px 0px;
    background-color: #C8F3DC ;
}

.calendarWrapper .react-daterange-picker__calendar-button react-daterange-picker__button{
    box-sizing: border-box;
}

.calendarWrapper .react-daterange-picker--disabled {
    background-color: white;
    color: #6d6d6d;
}
.error {
    margin-left: 42px;
    color: red;
}



